################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/files
/.vs/LoteriaPrint/v15
